footer {
    background-color: $accent-color;
}

.footer__text {
    text-align: center;
    color: $main-background-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    
    padding: 20px;
}