<div class="contacts">
    <div class="container contacts-container">
        <h2 class="title visually-hidden">
            Contacts
        </h2>
        <address>
            <ul class="address-list">
                <li class="address-list__item">
                    <svg width="120" height="55">
                        <use href="./images/sprite.svg#icon-logo"></use>
                    </svg>
                    <h4>
                        PT Dwidasa Samsara Indonesia
                    </h4>
                    <a href="https://goo.gl/maps/4uQLDRGNZF9yFypu8" target="_blank" rel="noopener noreferrer">
                        Ruko Jalur Sutera 29A No. 53<br>
                        Alam Sutera Serpong, Tangerang 1532
                    </a>
                </li>
                <li class="address-list__item">
                    <h3 class="title">
                        Contact
                    </h3>
                    <ul>
                        <li>
                            <a href="tel:+62.21.5314.1135">Phone : +62.21.5314.1135</a>
                        </li>
                        <li>
                            <a href="fax:+62.21.5314.1135">Fax : +62.21.5314.1135</a>
                        </li>
                        <li>
                            <a href="mailto:community@dwidasa.com">Email : community@dwidasa.com</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </address>
    </div>
</div>