<header class="header">
    <div class="container">
        <div class="navigation">
            <a href="#">
                <svg width="120" height="55">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="nav">
                <li class="nav__item"><a href=''>Services</a></li>
                <li class="nav__item"><a href=''>Product</a></li>
                <li class="nav__item"><a href=''>Technology</a></li>
                <li class="nav__item"><a href=''>About</a></li>
                <li class="nav__item"><a href=''>Client</a></li>
                <li class="nav__item"><a href=''>Partner</a></li>
            </ul>
            <ul class="header-contacts">
                <li class="header-contacts__item">
                    <a href="">
                        <svg width="20" height="20">
                            <use href='./images/sprite.svg#icon-home'></use>
                        </svg>
                    </a>
                </li>
                <li class="header-contacts__item">
                    <a href="">
                        <svg width="20" height="20">
                            <use href='./images/sprite.svg#icon-mail'></use>
                        </svg>
                    </a>
                </li>
                <li class="header-contacts__item">
                    <a href="">
                        <svg width="20" height="20">
                            <use href='./images/sprite.svg#icon-shuffle'></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>