<div class="hero-section">
    <div class="container hero-container">
        <div class="text-section">
            <h1 class="title hero__title">
                Making the most of the ever-growing
                <span class="title--accent-color">Information Technology</span>
            </h1>
            <p class="hero__text">
                Managed by a team of professional experts with extensive experience and impressive track records
            </p>
            <button type="button" class="button">Read More</button>
        </div>
        <svg class="hero__image" width="560" height="380">
            <use href="./images/sprite.svg#icon-image_hero"></use>
        </svg>
    </div>
</div>