<div class="product">
    <div class="container product__container">
        <h2 class="title product__title">
            Product and Service
        </h2>
        <ul class="product-advantages">
            <li class="product-advantages__item">
                <svg class="product-advantages__image" width="100" height="100">
                    <use href="./images/sprite.svg#icon-product-description-1"></use>
                </svg>
                <h3 class="product-advantages__title">
                    <span class="title--accent-color">Our Product</span>
                </h3>
                <p class="product-advantages__text">
                    Our product is made on the base of our team’s careful research and analyses, ranging from internet based
                    application.
                </p>
                <button type="button" class="button">Read more</button>
            </li>
            <li class="product-advantages__item">
                <svg class="product-advantages__image" width="100" height="100">
                    <use href="./images/sprite.svg#icon-verified"></use>
                </svg>
                <h3 class="product-advantages__title">
                    <span class="title--accent-color">Our Service</span>
                </h3>
                <p class="product-advantages__text">
                    Our product is made on the base of our team’s careful research and analyses, ranging from internet based
                    application.
                </p>
                <button type="button" class="button">Read more</button>
            </li>
            <li class="product-advantages__item">
                <svg class="product-advantages__image" width="100" height="100">
                    <use href="./images/sprite.svg#icon-cogwheel"></use>
                </svg>
                <h3 class="product-advantages__title">
                    <span class="title--accent-color">Our Technology</span>
                </h3>
                <p class="product-advantages__text">
                    Our product is made on the base of our team’s careful research and analyses, ranging from internet based
                    application.
                </p>
                <button type="button" class="button">Read more</button>
            </li>
        </ul>
    </div>
</div>